<div class="container mt-5 pt-5">
    <div class="pt-5 mt-5" *ngIf="!registerMode" style="text-align: center;">
        <h1>{{homeData.title}}</h1>
        <p class="lead"> {{homeData.description}}</p>
        <div class="text-center mt-4">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            <button class="btn btn-primary btn-info btn-lg">Learn More</button>
        </div>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
